platforms/android/.gradle/4.10.2/gc.properties
platforms/android/.gradle/4.10.2/fileChanges/last-build.bin
platforms/android/.gradle/4.10.2/fileHashes/fileHashes.bin
platforms/android/.gradle/4.10.2/fileHashes/fileHashes.lock
platforms/android/.gradle/vcs-1/gc.properties
